@model List<QLQP.Models.SanPham>

<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Product</h1>
         
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 3 || i < Model.Count; i++)
            {
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="~/Shop/SanPham?id=@Model[i].ID">
                            <img src="@Model[i].Img" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">@string.Format("{0:#,0}", Model[i].Gia) vnđ</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">@Model[i].TenSanPham</a>
                            <p class="card-text">
                                @Model[i].MoTa
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
            }

            
        </div>
    </div>
</section>
<!-- End Featured Product -->