
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/Theme/img/vape1.jfif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>OXVA ORIGIN X</b></h1>
                            <h3 class="h2">Sức mạnh lột xác hoàn hảo!!!</h3>
                            <p>
                                OXVA ORIGIN X 60W Anniversary Edition là một phiên bản giới hạn kỉ niệm 1 năm ra mắt siêu phẩm Origin AIO kit. Ngoại thất của Origil X được khoác 1 bộ áo mới vô cùng thời thượng và đẹp mắt với 6 màu độc quyền cùng với hệ thống nút bấm Diamond cut tinh tế hơn. Thân máy nhỏ gọn nhất từ trước tới nay sử dụng pin dời 18650, công suất tối đa là 60W, sử dụng màn hình OLED 0,69 inch để hiển thị dữ liệu vape sắc nét.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="/Theme/img/Podbia.jfif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"> Drag S PnP-X</h1>
                            <h3 class="h2">Phong Cách Mạnh Mẽ!!!</h3>
                            <p>
                                Drag S PnP-X kit 60w với phong cách mạnh mẽ của các chiến binh La Mã cổ điển với những đường nét cực kỳ tinh tế và sắc sảo. Thân máy được chế tác từ thép cao cấp phủ bóng kết hợp với phần thân từ da in 3D nổi cap cấp. Mang trong mình viên pin với dung lượng khủng 2500mAh cùng công suất đốt 60w Drag S PnP-X là 1 trong những sản phẩm siêu khói có thể chơi được rất tốt cả 2 dòng tinh dầu Freebase và Saltni.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="/Theme/img/biatd1.jfif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Yogi Granola Bar</h1>
                            <h3 class="h2">Vị mới, Cảm giác mới!! </h3>
                            <p>
                                Yogi E-liquid là hãng tinh dầu đứng đầu trong những hãng pha chế tinh dầu có vị ngũ cốc yến mạch. Họ chứng minh tay nghề của mình bằng những giải thưởng và sự trung thành của các vaper trên toàn thế giới. Và Granola Bar cũng là một trong số đó. Granola Bar là dòng tinh dầu với hương vị chủ đạo là ngũ cốc mật ong kết hợp cùng các hương vị hoa quả khác tạo nên những hồn hợp hương vị rất thơm và có mùi đặc trưng riêng như chuối bơ lac hay ngũ cốc dâu. Dòng sản phẩm có dung tích 30ml là nồng độ nicotine là 35mg thích hợp với các thiết bị pod mod có thông số coil từ 0.6-1.0 Ohm hoặc những người đang có nhu cầu cai thuốc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Khám Phá Cửa Hàng</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/Shop/CuaHang"><img src="~/Theme/img/trangchu1.jfif" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Vape Devices</h5>
            <p class="text-center"><a href="/Shop/CuaHang" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/Shop/CuaHang"><img src="~/Theme/img/trangchu2.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Pod System</h2>
            <p class="text-center"><a href="/Shop/CuaHang" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="/Shop/CuaHang"><img src="/Theme/img/trangchu3.jfif" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Juice</h2>
            <p class="text-center"><a href="/Shop/CuaHang" class="btn btn-success">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->

@Html.Action("ListProduct", "Layouts", new { Type = "Featured" })